--
-- PostgreSQL database dump
--

\restrict 21oBtao1NIO5ldtS4JquYDPizMUg4aJwdUh9ZADuH0jtPf0y4S9uA0SjbczuFEX

-- Dumped from database version 17.6
-- Dumped by pg_dump version 17.6

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: alert; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.alert (
    alert_id integer NOT NULL,
    invoice_id integer NOT NULL,
    alert_type character varying(50),
    severity character varying(20),
    message text,
    resolved boolean DEFAULT false,
    resolved_by_user_id integer,
    created_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.alert OWNER TO postgres;

--
-- Name: alert_alert_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.alert_alert_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.alert_alert_id_seq OWNER TO postgres;

--
-- Name: alert_alert_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.alert_alert_id_seq OWNED BY public.alert.alert_id;


--
-- Name: collection_center; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.collection_center (
    collection_center_id integer NOT NULL,
    company_id integer NOT NULL,
    manager_id integer NOT NULL,
    name character varying(100) NOT NULL,
    address character varying(255),
    phone_number character varying(20)
);


ALTER TABLE public.collection_center OWNER TO postgres;

--
-- Name: collection_center_collection_center_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.collection_center_collection_center_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.collection_center_collection_center_id_seq OWNER TO postgres;

--
-- Name: collection_center_collection_center_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.collection_center_collection_center_id_seq OWNED BY public.collection_center.collection_center_id;


--
-- Name: company; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.company (
    company_id integer NOT NULL,
    company_name character varying(100) NOT NULL,
    admin_id integer NOT NULL
);


ALTER TABLE public.company OWNER TO postgres;

--
-- Name: company_company_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.company_company_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.company_company_id_seq OWNER TO postgres;

--
-- Name: company_company_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.company_company_id_seq OWNED BY public.company.company_id;


--
-- Name: device; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.device (
    device_id integer NOT NULL,
    collection_center_id integer NOT NULL
);


ALTER TABLE public.device OWNER TO postgres;

--
-- Name: device_device_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.device_device_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.device_device_id_seq OWNER TO postgres;

--
-- Name: device_device_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.device_device_id_seq OWNED BY public.device.device_id;


--
-- Name: farmer; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.farmer (
    farmer_id integer NOT NULL,
    collection_center_id integer NOT NULL,
    name character varying(100) NOT NULL,
    address character varying(255),
    phone_number character varying(20)
);


ALTER TABLE public.farmer OWNER TO postgres;

--
-- Name: farmer_farmer_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.farmer_farmer_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.farmer_farmer_id_seq OWNER TO postgres;

--
-- Name: farmer_farmer_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.farmer_farmer_id_seq OWNED BY public.farmer.farmer_id;


--
-- Name: invoice; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.invoice (
    invoice_id integer NOT NULL,
    farmer_id integer NOT NULL,
    device_id integer NOT NULL,
    collection_center_id integer NOT NULL,
    measurement_datetime timestamp without time zone NOT NULL,
    drc numeric(5,2) NOT NULL,
    total_litres numeric(8,2) NOT NULL,
    total_amount numeric(12,2),
    temperature numeric(5,2),
    ph_status character varying(20),
    tds_status character varying(20)
);


ALTER TABLE public.invoice OWNER TO postgres;

--
-- Name: invoice_invoice_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.invoice_invoice_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.invoice_invoice_id_seq OWNER TO postgres;

--
-- Name: invoice_invoice_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.invoice_invoice_id_seq OWNED BY public.invoice.invoice_id;


--
-- Name: payment; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payment (
    payment_id integer NOT NULL,
    farmer_id integer NOT NULL,
    week integer NOT NULL,
    year integer NOT NULL,
    total_amount numeric(12,2) NOT NULL
);


ALTER TABLE public.payment OWNER TO postgres;

--
-- Name: payment_payment_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.payment_payment_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.payment_payment_id_seq OWNER TO postgres;

--
-- Name: payment_payment_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.payment_payment_id_seq OWNED BY public.payment.payment_id;


--
-- Name: rubber_price; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.rubber_price (
    price_id integer NOT NULL,
    company_id integer NOT NULL,
    price_per_kg numeric(10,2) NOT NULL,
    effective_date date NOT NULL
);


ALTER TABLE public.rubber_price OWNER TO postgres;

--
-- Name: rubber_price_price_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.rubber_price_price_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.rubber_price_price_id_seq OWNER TO postgres;

--
-- Name: rubber_price_price_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.rubber_price_price_id_seq OWNED BY public.rubber_price.price_id;


--
-- Name: user; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public."user" (
    user_id integer NOT NULL,
    username character varying(100) NOT NULL,
    email character varying(100) NOT NULL,
    password_hash character varying(255) NOT NULL,
    role character varying(50) NOT NULL,
    must_change_password boolean DEFAULT false
);


ALTER TABLE public."user" OWNER TO postgres;

--
-- Name: user_user_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.user_user_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.user_user_id_seq OWNER TO postgres;

--
-- Name: user_user_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.user_user_id_seq OWNED BY public."user".user_id;


--
-- Name: alert alert_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert ALTER COLUMN alert_id SET DEFAULT nextval('public.alert_alert_id_seq'::regclass);


--
-- Name: collection_center collection_center_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_center ALTER COLUMN collection_center_id SET DEFAULT nextval('public.collection_center_collection_center_id_seq'::regclass);


--
-- Name: company company_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company ALTER COLUMN company_id SET DEFAULT nextval('public.company_company_id_seq'::regclass);


--
-- Name: device device_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device ALTER COLUMN device_id SET DEFAULT nextval('public.device_device_id_seq'::regclass);


--
-- Name: farmer farmer_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.farmer ALTER COLUMN farmer_id SET DEFAULT nextval('public.farmer_farmer_id_seq'::regclass);


--
-- Name: invoice invoice_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice ALTER COLUMN invoice_id SET DEFAULT nextval('public.invoice_invoice_id_seq'::regclass);


--
-- Name: payment payment_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment ALTER COLUMN payment_id SET DEFAULT nextval('public.payment_payment_id_seq'::regclass);


--
-- Name: rubber_price price_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rubber_price ALTER COLUMN price_id SET DEFAULT nextval('public.rubber_price_price_id_seq'::regclass);


--
-- Name: user user_id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user" ALTER COLUMN user_id SET DEFAULT nextval('public.user_user_id_seq'::regclass);


--
-- Data for Name: alert; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: collection_center; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.collection_center (collection_center_id, company_id, manager_id, name, address, phone_number) FROM stdin;
1	1	2	Kalutara Main Center	Kalutara, Sri Lanka	+94-11-1234567
\.


--
-- Data for Name: company; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.company (company_id, company_name, admin_id) FROM stdin;
1	Lakshitha Rubber Company	1
\.


--
-- Data for Name: device; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.device (device_id, collection_center_id) FROM stdin;
1	1
\.


--
-- Data for Name: farmer; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.farmer (farmer_id, collection_center_id, name, address, phone_number) FROM stdin;
1	1	Saman Kumara	Village Road 1, Kalutara	+94-77-1111111
2	1	Nimal Perera	Village Road 2, Kalutara	+94-77-2222222
3	1	Kamal Fernando	Village Road 3, Kalutara	+94-77-3333333
6	1	Manodya Perera	99, vfrv, fbsfbn	0712223330
7	1	Dananja Rukshan	55, Yakkala, Gampaha	0729355455
8	1	nadeera perera	colombo	0776877555
\.


--
-- Data for Name: invoice; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: payment; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.payment (payment_id, farmer_id, week, year, total_amount) FROM stdin;
3	1	16	2026	5910.62
1	1	10	2026	0.00
2	2	10	2026	0.00
\.


--
-- Data for Name: rubber_price; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.rubber_price (price_id, company_id, price_per_kg, effective_date) FROM stdin;
1	1	630.00	2026-04-27
2	1	350.00	2026-04-28
\.


--
-- Data for Name: user; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: alert_alert_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.alert_alert_id_seq', 24, true);


--
-- Name: collection_center_collection_center_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.collection_center_collection_center_id_seq', 1, true);


--
-- Name: company_company_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.company_company_id_seq', 1, true);


--
-- Name: device_device_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.device_device_id_seq', 1, true);


--
-- Name: farmer_farmer_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.farmer_farmer_id_seq', 8, true);


--
-- Name: invoice_invoice_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.invoice_invoice_id_seq', 33, true);


--
-- Name: payment_payment_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.payment_payment_id_seq', 3, true);


--
-- Name: rubber_price_price_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.rubber_price_price_id_seq', 2, true);


--
-- Name: user_user_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.user_user_id_seq', 10, true);


--
-- Name: alert alert_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert
    ADD CONSTRAINT alert_pkey PRIMARY KEY (alert_id);


--
-- Name: collection_center collection_center_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_center
    ADD CONSTRAINT collection_center_pkey PRIMARY KEY (collection_center_id);


--
-- Name: company company_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_pkey PRIMARY KEY (company_id);


--
-- Name: device device_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device
    ADD CONSTRAINT device_pkey PRIMARY KEY (device_id);


--
-- Name: farmer farmer_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.farmer
    ADD CONSTRAINT farmer_pkey PRIMARY KEY (farmer_id);


--
-- Name: invoice invoice_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_pkey PRIMARY KEY (invoice_id);


--
-- Name: payment payment_farmer_id_year_week_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_farmer_id_year_week_key UNIQUE (farmer_id, year, week);


--
-- Name: payment payment_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_pkey PRIMARY KEY (payment_id);


--
-- Name: rubber_price rubber_price_company_id_effective_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rubber_price
    ADD CONSTRAINT rubber_price_company_id_effective_date_key UNIQUE (company_id, effective_date);


--
-- Name: rubber_price rubber_price_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rubber_price
    ADD CONSTRAINT rubber_price_pkey PRIMARY KEY (price_id);


--
-- Name: user user_email_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_email_key UNIQUE (email);


--
-- Name: user user_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_pkey PRIMARY KEY (user_id);


--
-- Name: user user_username_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public."user"
    ADD CONSTRAINT user_username_key UNIQUE (username);


--
-- Name: idx_alert_invoice; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_alert_invoice ON public.alert USING btree (invoice_id);


--
-- Name: idx_collection_center_company; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_collection_center_company ON public.collection_center USING btree (company_id);


--
-- Name: idx_device_collection_center; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_device_collection_center ON public.device USING btree (collection_center_id);


--
-- Name: idx_farmer_collection_center; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_farmer_collection_center ON public.farmer USING btree (collection_center_id);


--
-- Name: idx_invoice_collection_center; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_collection_center ON public.invoice USING btree (collection_center_id);


--
-- Name: idx_invoice_farmer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_farmer ON public.invoice USING btree (farmer_id);


--
-- Name: idx_invoice_measurement_datetime; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_invoice_measurement_datetime ON public.invoice USING btree (measurement_datetime);


--
-- Name: idx_payment_farmer_week_year; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payment_farmer_week_year ON public.payment USING btree (farmer_id, year, week);


--
-- Name: alert alert_invoice_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert
    ADD CONSTRAINT alert_invoice_id_fkey FOREIGN KEY (invoice_id) REFERENCES public.invoice(invoice_id);


--
-- Name: alert alert_resolved_by_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.alert
    ADD CONSTRAINT alert_resolved_by_user_id_fkey FOREIGN KEY (resolved_by_user_id) REFERENCES public."user"(user_id);


--
-- Name: collection_center collection_center_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_center
    ADD CONSTRAINT collection_center_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.company(company_id);


--
-- Name: collection_center collection_center_manager_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.collection_center
    ADD CONSTRAINT collection_center_manager_id_fkey FOREIGN KEY (manager_id) REFERENCES public."user"(user_id);


--
-- Name: company company_admin_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.company
    ADD CONSTRAINT company_admin_id_fkey FOREIGN KEY (admin_id) REFERENCES public."user"(user_id);


--
-- Name: device device_collection_center_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.device
    ADD CONSTRAINT device_collection_center_id_fkey FOREIGN KEY (collection_center_id) REFERENCES public.collection_center(collection_center_id);


--
-- Name: farmer farmer_collection_center_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.farmer
    ADD CONSTRAINT farmer_collection_center_id_fkey FOREIGN KEY (collection_center_id) REFERENCES public.collection_center(collection_center_id);


--
-- Name: invoice invoice_collection_center_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_collection_center_id_fkey FOREIGN KEY (collection_center_id) REFERENCES public.collection_center(collection_center_id);


--
-- Name: invoice invoice_device_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_device_id_fkey FOREIGN KEY (device_id) REFERENCES public.device(device_id);


--
-- Name: invoice invoice_farmer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.invoice
    ADD CONSTRAINT invoice_farmer_id_fkey FOREIGN KEY (farmer_id) REFERENCES public.farmer(farmer_id);


--
-- Name: payment payment_farmer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payment
    ADD CONSTRAINT payment_farmer_id_fkey FOREIGN KEY (farmer_id) REFERENCES public.farmer(farmer_id);


--
-- Name: rubber_price rubber_price_company_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.rubber_price
    ADD CONSTRAINT rubber_price_company_id_fkey FOREIGN KEY (company_id) REFERENCES public.company(company_id);


--
-- PostgreSQL database dump complete
--

\unrestrict 21oBtao1NIO5ldtS4JquYDPizMUg4aJwdUh9ZADuH0jtPf0y4S9uA0SjbczuFEX

